Node-Red_flows.json
[{"id":"73901c8b.e17bdc","type":"tab","label":"Pollaio","disabled":false,"info":""},{"id":"6247e67e.2fb5","type":"inject","z":"73901c8b.e17bdc","name":"Ricarico ogni secondo","topic":"","payload":"Info","payloadType":"str","repeat":"2","crontab":"","once":false,"onceDelay":"1","x":150,"y":100,"wires":[["989726fc.e5457"]]},{"id":"5769ac55.48c9c4","type":"http request","z":"73901c8b.e17bdc","name":"Invoco info pollaio","method":"GET","ret":"obj","paytoqs":false,"url":"http://192.168.1.52:80","tls":"","proxy":"","authType":"basic","x":650,"y":160,"wires":[["e0ab83cc.5afd3","599732e4.44c684"]]},{"id":"2b753ed5.33d8ca","type":"ui_template","z":"73901c8b.e17bdc","group":"a694457f.3dbcb8","name":"Interfaccia Pollaio","order":1,"width":"4","height":"3","format":"<style>\n #btn {\n -moz-border-radius: 30px;\n -webkit-border-radius: 30px;\n /*display: inline;*/\n border: 2px solid black;\n padding-top: 10px;\n padding-right: 10px;\n padding-bottom: 10px;\n padding-left: 10px;\n font-size: 14px;\n font-weight: bold;\n margin:10;\n}\n #btn2 {\n -moz-border-radius: 30px;\n -webkit-border-radius: 30px;\n border: 2px solid black;\n padding-top: 10px;\n padding-right: 10px;\n padding-bottom: 10px;\n padding-left: 10px;\n font-size: 14px;\n font-weight: bold;\n margin:10;\n}\n</style>\n\n<div style=\"font-size: 12px;font-weight: bold;\">\n    <left>Stato Porta:</left>\n</div>\n\n<div id = \"btn\" style=\"width: 170px;\"\n ng-style=\"{'background-color': msg.colore}\">\n <center>{{msg.messaggio}}</center>\n</div>\n\n<div style=\"font-size: 12px;font-weight: bold;\">\n    <left>Attività Motore:</left>\n</div>\n\n<div id = \"btn2\" style=\"width: 170px;\">\n <center>{{msg.statoMotore}}</center>\n</div>\n\n","storeOutMessages":false,"fwdInMessages":true,"templateScope":"local","x":1110,"y":160,"wires":[[]]},{"id":"e0ab83cc.5afd3","type":"function","z":"73901c8b.e17bdc","name":"Elaboro Info pollaio","func":"var colore;\nvar messaggio;\nvar statoMotore;\n\nif(msg.payload.sensorChiuso == '1' && msg.payload.sensorAperto == '0'){\n    colore = '#a93226';//rosso\n    messaggio = \"Porta Chiusa\"\n}\nelse if(msg.payload.sensorChiuso == '0' && msg.payload.sensorAperto == '1'){\n    colore = '#239b56';//verde\n    messaggio = \"Porta Aperta\"\n}\nelse if(msg.payload.sensorChiuso == '0' && msg.payload.sensorAperto == '0'){\n    colore = '#d4ac0d';//giallo\n    messaggio = \"Stato Intermedio\"\n}\nelse if(msg.payload.sensorChiuso == '1' && msg.payload.sensorAperto == '1'){\n    colore = '#d4ac0d';//giallo\n    messaggio = \"AVARIA SENSORI (1-1)\"\n}\nelse{\n    colore = '#d4ac0d';//giallo\n    messaggio = \"AVARIA SENSORI\"\n}\n\nglobal.set(\"statoMotore\",msg.payload.statoMotore);\n\n\nreturn {\"colore\":colore,\"messaggio\":messaggio,\"statoMotore\":msg.payload.statoMotore};","outputs":1,"noerr":0,"x":890,"y":160,"wires":[["2b753ed5.33d8ca"]]},{"id":"18f34f23.d7c449","type":"ui_button","z":"73901c8b.e17bdc","name":"","group":"a694457f.3dbcb8","order":3,"width":"2","height":"1","passthru":false,"label":"Apri","tooltip":"Forza l'apertura della porta","color":"","bgcolor":"","icon":"","payload":"Apri","payloadType":"str","topic":"","x":90,"y":220,"wires":[["a53f9737.8d2378"]]},{"id":"7ac308b5.e11998","type":"ui_button","z":"73901c8b.e17bdc","name":"","group":"a694457f.3dbcb8","order":4,"width":"2","height":"1","passthru":false,"label":"Chiudi","tooltip":"Forza la chisura della porta","color":"","bgcolor":"","icon":"","payload":"Chiudi","payloadType":"str","topic":"","x":90,"y":260,"wires":[["a53f9737.8d2378"]]},{"id":"a53f9737.8d2378","type":"http request","z":"73901c8b.e17bdc","name":"Invoco azione pollaio","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.1.52/{{{payload}}}","tls":"","proxy":"","authType":"basic","x":320,"y":240,"wires":[["ebf852dd.07df78"]]},{"id":"989726fc.e5457","type":"switch","z":"73901c8b.e17bdc","name":"Ricarico se in movimento","property":"statoMotore","propertyType":"global","rules":[{"t":"eq","v":"Salita","vt":"str"},{"t":"eq","v":"Discesa","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":390,"y":100,"wires":[["5769ac55.48c9c4"],["5769ac55.48c9c4"],[]]},{"id":"e39aecd1.9d574","type":"inject","z":"73901c8b.e17bdc","name":"Ricarico info ogni minuto","topic":"","payload":"X","payloadType":"str","repeat":"60","crontab":"","once":false,"onceDelay":"1","x":160,"y":160,"wires":[["5769ac55.48c9c4"]]},{"id":"ebf852dd.07df78","type":"delay","z":"73901c8b.e17bdc","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":520,"y":240,"wires":[["5769ac55.48c9c4"]]},{"id":"599732e4.44c684","type":"debug","z":"73901c8b.e17bdc","name":"debug pollaio json","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":890,"y":220,"wires":[]},{"id":"450352c5.4161cc","type":"time-inject","z":"73901c8b.e17bdc","name":"Alba + 1 ora","positionConfig":"d8d232c6.1b40f","payload":"Apri","payloadType":"str","payloadTimeFormat":0,"payloadOffset":0,"payloadOffsetType":"none","payloadOffsetMultiplier":60000,"topic":"","time":"sunriseEnd","timeType":"pdsTime","timeDays":"*","offset":"60","offsetType":"num","offsetMultiplier":60000,"property":"","propertyType":"none","propertyCompare":"true","propertyThreshold":"","propertyThresholdType":"num","timeAlt":"","timeAltType":"entered","timeAltOffset":0,"timeAltOffsetType":"none","timeAltOffsetMultiplier":60000,"once":false,"onceDelay":0.1,"addPayload1":"","addPayload1Type":"none","addPayload1Value":"Apri","addPayload1ValueType":"str","addPayload1Format":"0","addPayload1Offset":0,"addPayload1OffsetType":"none","addPayload1OffsetMultiplier":60000,"addPayload1Next":true,"addPayload1Days":"*","addPayload2":"","addPayload2Type":"none","addPayload2Value":"","addPayload2ValueType":"date","addPayload2Format":"0","addPayload2Offset":0,"addPayload2OffsetType":"none","addPayload2OffsetMultiplier":60000,"addPayload2Next":true,"addPayload2Days":"*","addPayload3":"","addPayload3Type":"none","addPayload3Value":"","addPayload3ValueType":"date","addPayload3Format":"0","addPayload3Offset":0,"addPayload3OffsetType":"none","addPayload3OffsetMultiplier":60000,"addPayload3Next":true,"addPayload3Days":"*","recalcTime":2,"x":110,"y":320,"wires":[["1487c9a.b7bfdb6"]]},{"id":"917373c4.04ed","type":"time-inject","z":"73901c8b.e17bdc","name":"Tramonto","positionConfig":"d8d232c6.1b40f","payload":"Chiudi","payloadType":"str","payloadTimeFormat":0,"payloadOffset":0,"payloadOffsetType":"none","payloadOffsetMultiplier":60000,"topic":"","time":"sunset","timeType":"pdsTime","timeDays":"*","offset":0,"offsetType":"none","offsetMultiplier":60000,"property":"","propertyType":"none","propertyCompare":"true","propertyThreshold":"","propertyThresholdType":"num","timeAlt":"","timeAltType":"entered","timeAltOffset":0,"timeAltOffsetType":"none","timeAltOffsetMultiplier":60000,"once":false,"onceDelay":0.1,"addPayload1":"","addPayload1Type":"none","addPayload1Value":"Chiudi","addPayload1ValueType":"str","addPayload1Format":"0","addPayload1Offset":0,"addPayload1OffsetType":"none","addPayload1OffsetMultiplier":60000,"addPayload1Next":true,"addPayload1Days":"*","addPayload2":"","addPayload2Type":"none","addPayload2Value":"","addPayload2ValueType":"date","addPayload2Format":"0","addPayload2Offset":0,"addPayload2OffsetType":"none","addPayload2OffsetMultiplier":60000,"addPayload2Next":true,"addPayload2Days":"*","addPayload3":"","addPayload3Type":"none","addPayload3Value":"","addPayload3ValueType":"date","addPayload3Format":"0","addPayload3Offset":0,"addPayload3OffsetType":"none","addPayload3OffsetMultiplier":60000,"addPayload3Next":true,"addPayload3Days":"*","recalcTime":2,"x":100,"y":380,"wires":[["1487c9a.b7bfdb6"]]},{"id":"896bfd62.d56df8","type":"ui_switch","z":"73901c8b.e17bdc","name":"Switch automatico","label":"Automatico","tooltip":"Attiva/Disattiva apertura all'alba e chiusura al tramonto","group":"a694457f.3dbcb8","order":2,"width":"4","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":130,"y":40,"wires":[["fefae5fd.a95ee8"]]},{"id":"1487c9a.b7bfdb6","type":"switch","z":"73901c8b.e17bdc","name":"Se automatico attivo","property":"aperturaAutomatica","propertyType":"global","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":340,"y":380,"wires":[["a53f9737.8d2378"],[]]},{"id":"fefae5fd.a95ee8","type":"function","z":"73901c8b.e17bdc","name":"Salvo automatico in Global","func":"global.set(\"aperturaAutomatica\",msg.payload);\n\nreturn null;","outputs":0,"noerr":0,"x":380,"y":40,"wires":[]},{"id":"a694457f.3dbcb8","type":"ui_group","z":"","name":"Pollaio","tab":"9caf9c6c.681f28","order":1,"disp":false,"width":"4","collapse":false},{"id":"d8d232c6.1b40f","type":"position-config","z":"","name":"Aulla","isValide":"true","longitude":"0","latitude":"0","angleType":"deg","timeZoneOffset":"99","timeZoneDST":"0","stateTimeFormat":"10","stateDateFormat":"10"},{"id":"9caf9c6c.681f28","type":"ui_tab","z":"","name":"Pollaio","icon":"store","disabled":false,"hidden":false}]